.ant-carousel .slick-dots li button {
    background: blue !important;
}
.ant-carousel .slick-dots li.slick-active button {
    background: rgb(111, 169, 255) !important;
}

.ant-carousel .slick-dots-bottom{
    bottom: -46px !important;
}