.ant-table-thead{
    background-color: rgb(3, 142, 216);

}

.ant-table-thead .ant-table-cell {
    background-color: rgb(3, 142, 216);
    color: white;
  }

  .ant-table-thead th.ant-table-column-sort{
    background-color: rgb(21, 161, 237);
    color: black;
  }

  .ant-table-column-sorter {
    color: white;
  }

.ant-table-column-sorter-up.active  {
    color: black;
}
.ant-table-column-sorter-down.active {
    color: black;
}


.tableClass tr:nth-child(even) { background-color: #f3f3f3; }


  .ant-rate-star-second{
    color: grey;
  }